@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p> This is a ticket management web application. Please login or create an account to get started.</p>
       
    <p>On this website you can: 
        <ul>
            <li> Create a ticket </li>
            <li> Edit your tickets </li>
            <li> Delete your tickets </li>
            <li> View your created tickets</li>
            <li> More!</li>
        </ul>
    </p>
</div>
